# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environments
.venv/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Data files
*.csv
*.xlsx

# IDE
.vscode/
.idea/

# Generated outputs
analysis_summary_and_findings_*.txt
img/
